# Dependencies
node_modules
apps/*/node_modules
libs/*/node_modules

# Build outputs
dist

# Git
.git
.gitignore

# Env
.env
.env.*

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Tests (optional)
coverage
test

# Docs
docs

# OS
.DS_Store
Thumbs.db